In [1]:
#Q1:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

L.sort()
print("Sorted in ascending order:", L)

L.sort()
L.reverse()
print("Sorted in descending order using reverse():", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order using reverse(): [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
#Q2:
marks = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
top = max(marks)
top_pos = marks.index(top)
print(f"Top score: {top}, Position: {top_pos}")
low = min(marks)
low_count = marks.count(low)
print(f"Lowest score: {low}, Appears: {low_count} times")
rev_marks = list(reversed(marks))
print(f"Reversed list: {rev_marks}")

num = int(input("Enter a number to check: "))
if num in marks:
    num_pos = marks.index(num)
    print(f"{num} found at position {num_pos}.")
else:
    print(f"{num} is not in the marks.")

Top score: 92, Position: 5
Lowest score: 45, Appears: 2 times
Reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a number to check: 76
76 found at position 2.

In [3]:
#q3:
import random
nums = [random.randint(100, 900) for _ in range(100)]

odd = []
even = []
prime = []

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in nums:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

    if is_prime(num):
        prime.append(num)

print(f"Odd numbers ({len(odd)}): {odd}")
print(f"Even numbers ({len(even)}): {even}")
print(f"Prime numbers ({len(prime)}): {prime}")

Odd numbers (54): [365, 519, 781, 261, 659, 121, 247, 719, 561, 473, 381, 569, 461, 109, 163, 731, 813, 699, 389, 133, 453, 627, 545, 657, 261, 307, 353, 781, 645, 119, 111, 847, 229, 357, 265, 391, 249, 477, 371, 687, 547, 663, 809, 343, 181, 213, 459, 503, 367, 579, 213, 787, 117, 619]
Even numbers (46): [296, 730, 778, 144, 240, 510, 374, 360, 468, 730, 144, 286, 412, 318, 184, 458, 324, 290, 206, 654, 256, 586, 552, 678, 244, 158, 720, 466, 428, 218, 430, 496, 112, 198, 114, 124, 602, 322, 248, 326, 370, 368, 772, 286, 160, 594]
Prime numbers (17): [659, 719, 569, 461, 109, 163, 389, 307, 353, 229, 547, 809, 181, 503, 367, 787, 619]

In [4]:
#Q4:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
unique_scores = A | B
print(f"Unique scores: {unique_scores}")
print()
common_scores = A & B
print(f"Common scores: {common_scores}")
print()
exclusive_scores = A ^ B
print(f"Exclusive scores: {exclusive_scores}")
print()
is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"Is A a subset of B? {is_subset}")
print(f"Is B a superset of A? {is_superset}")
print()
X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"Updated A after removing {X}: {A}")
else:
    print(f"{X} is not in A.")

Unique scores: {34, 45, 78, 23, 56, 90}

Common scores: {90, 78}

Exclusive scores: {34, 45, 23, 56}

Is A a subset of B? False
Is B a superset of A? False

Enter a score to remove from A: 34
Updated A after removing 34: {56, 90, 78}

In [5]:
#q5:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
if "city" in sample_dict:
    sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}